.how-it-works {

  .inner {

    .wrapper {
      @apply w-full flex justify-between items-center absolute z-10 px-[40px] md:flex-col
    }

    .video {

      .play {
        top: calc(50% - 40px);
        left: calc(50% - 40px);

        @apply absolute
      }

      @apply relative md:mt-[-180px] md:mb-[30px]
    }

    .content {

      .line {
        @apply w-[111px] rounded-full h-1 mb-6 bg-[#EAEEEF] sm:left-[unset] sm:mx-auto mt-[20px];
      }

      @apply w-[477px] md:flex md:flex-col md:items-center xs:w-[297px]
    }

    .background {
      background: linear-gradient(200.5deg, rgba(11, 174, 185, 0.27) -44.57%, #0BAEB9 42.24%), url('/how-bg.png');
      box-shadow: 0px 24px 35px rgba(17, 173, 181, 0.12);
      border-radius: 12px;

      @apply w-[1013px] h-[517px] absolute z-0 right-0 md:w-[690px] md:right-[calc(50%-345px)] sm:w-[512px] sm:right-[calc(50%-256px)] xs:w-[358px] xs:right-[calc(50%-179px)]
    }

    @apply w-[1178px] h-[517px] relative flex items-center
  }

  @apply w-full flex justify-center items-center mb-[100px] mt-[16px] md:mt-[100px]
}